<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
        <script th:inline="javascript">
	    var user = /*[[${user}]]*/;
        var cinema= /*[[${cinema}]]*/;
	    </script>
        <script src="/js/script.js" type="text/javascript"></script>

        <title></title>
    
        
	</head>
	<body onload="initAcc()">
       	<!-- Navigation -->
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
		  <div class="container">
		    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
		          <span class="navbar-toggler-icon"></span>
		        </button>
		    <div class="collapse navbar-collapse" id="navbarResponsive">
		      <ul class="navbar-nav">
		        <li class="nav-item active">
		          <a class="nav-link" th:href="@{/}">Glavna Stranica
		                <span class="sr-only">(current)</span>
		              </a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link" th:href="@{/cinemas}">Nasi Bioskopi</a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link" th:href="@{/movies}">Repertoar</a>
		        </li>
                <li id="online" class="nav-item">
   					<a class="dropdown-item" onclick="profile()">Profil</a>
		        </li>
		        <li id="online" class="nav-item">
   					<a class="dropdown-item" onclick="logOut()">Odjava</a>
		        </li>
		        <li id="offline" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       Prijava
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <form class="px-4 py-3" id="loginForm">
                        <div class="form-group">
                          <label for="email">E-mail adresa</label>
                          <input type="text" class="form-control" id="email" placeholder="email@example.com" />
                        </div>
                        <div class="form-group">
                          <label for="password">Lozinka</label>
                          <input type="password" class="form-control" id="password" placeholder="Password" />
                        </div>
                        <button type="button" onclick="login()" class="btn btn-primary">Prijavite Se</button>
                      </form>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" th:href="@{/register}">Registracija</a>
                    </div>
		        </li>
		      </ul>
		    </div>
		  </div>
		</nav>
    
        <main>
        <div class="row manager">    
            <nav class="navbar navbar-expand-lg navbar-light bg-light static-top">
              <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                  <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                      <a class="nav-link" onclick="cinema()">Azurirajte Sale</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" onclick="schedule()">Azurirajte Raspored</a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>    
        </div>
        <div class="row manager">
            <div class="col-sm-6">
                <table id="cinema" class="table table-hover table-sm">
                    <thead class="thead-light">
                        <tr>
                            <th>Oznaka</th>
                            <th>Kapacitet</th>                            
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                         <tr th:each="room : ${cinema.rooms}" th:id="${room.id}">
                            <td th:text="${room.mark}"></td>
                            <td th:text="${room.capacity}"></td>
                            <td>
                                <button type="button" th:onclick="'deleteRoom('+${room.id}+','+${cinema.id}+')'" class="btn btn-info">Izbrisi</button>
                            </td>
                             <td>
                                <button type="button" th:onclick="'edit('+${room.id}+')'" class="btn btn-info">Azuriraj</button>
                            </td>
                        </tr>
                        <tr>
                            <td><input id="mark" type="text" placeholder="Oznaka"/></td>
                            <td><input id="capacity" type="number" placeholder="Kapacitet"/></td>
                            <td></td>
                            <td>
                                <button type="button" th:onclick="'addRoom('+${cinema.id}+')'" class="btn btn-info">Dodaj</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </main>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
	</body>
</html>